/* NavBar.css */

/* Navbar Styles */
.navbar {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 0; /* Adjust top and bottom padding */
    transition: all 0.3s ease-in-out; /* Smooth transition animation */
  }
  
  .navbar a.navbar-brand img {
    width: 50px; /* Adjust logo width */
    height: 40px; /* Adjust logo height */
  }
  
  /* Navbar Toggler Styles */
  .navbar-toggler {
    border: none; /* Remove button border */
    background-color: transparent; /* Transparent background */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* Toggler icon color */
  }
  
  /* Nav Links Styles */
  .navbar-nav .nav-link {
    color: #fff; /* Nav link text color */
    margin-right: 20px; /* Adjust right margin between links */
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
  }
  
  .navbar-nav .nav-link:hover {
    color: #5100ff; /* Hover color */
  }
  
  /* Dropdown Styles */
  .dropdown-menu {
    background-color: #333; /* Dropdown background color */
  }
  
  .dropdown-item {
    color: #fff; /* Dropdown item text color */
    transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
  }
  
  .dropdown-item:hover {
    background-color: #ff6600; /* Hover background color */
  }
  
  /* Search Form Styles */
  .form-control {
    border: none; /* Remove form input border */
    background-color: #444; /* Form input background color */
    color: #fff; /* Form input text color */
  }
  
  /* Button Styles */
  .btn-outline-success {
    color: #fff; /* Button text color */
    border-color: #ff6600; /* Button border color */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out; /* Smooth transitions */
  }
  
  .btn-outline-success:hover {
    background-color: #ff6600; /* Hover background color */
    transform: scale(1.05); /* Hover scaling effect */
  }
  
  /* Active Navbar Styles */
  .navbar.active {
    background-color: #444; /* Active state background color */
  }
  
  /* Active Toggler Icon Styles */
  .navbar-toggler.active .navbar-toggler-icon {
    background-color: #ff6600; /* Active state toggler icon color */
  }
  
  /* Active Nav Link Styles */
  .navbar.active .navbar-nav .nav-link {
    color:  #00b3ff;; /* Active state nav link color */
  }
  
  /* Active Dropdown Styles */
  .navbar.active .dropdown-menu {
    background-color: #444; /* Active state dropdown background color */
  }
  
  /* Active Dropdown Item Styles */
  .navbar.active .dropdown-item:hover {
    background-color: #00b3ff; /* Active state dropdown item hover background color */
  }
  